.fav-movies-page-root {
  font-family: "Spline Sans", sans-serif;
  min-height: 100vh;
  background: #112117;
  color: white;
}



.fav-movies-header {
  position: sticky;
  display: flex;
  top: 0;
  z-index: 100;
  background: rgba(17, 33, 23, 0.9);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #29382f;
}

.fav-movies-header-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
      width: -webkit-fill-available;
}

.fav-movies-header-left {
  display: flex;
  align-items: center;
}

.fav-movies-logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.fav-movies-logo-title {
  font-size: 22px;
  font-weight: 700;
  color: white !important;
  margin: 0 !important;
}

.fav-movies-logo-icon {
  width: 32px;
  height: 32px;
  border-radius: 6px;
  background-color: #1afa7b;
  position: relative;
}

.fav-movies-logo-icon::before,
.fav-movies-logo-icon::after {
  content: "";
  position: absolute;
  left: 4px;
  right: 4px;
  height: 4px;
  border-radius: 999px;
  background-color: #111814;
}

.fav-movies-logo-icon::before {
  top: 7px;
}

.fav-movies-logo-icon::after {
  top: 15px;
}
.movies-main-inner .ant-typography {
  color: #ffffff !important;
}
